name: Android-build

permissions:
  contents: write
on:
  push:
    tags:
      - "v*"

jobs:
  android-build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Verify Flutter version
        run: flutter --version

      - name: Get dependencies
        run: flutter pub get

      - name: Setup rive_native
        run: dart run rive_native:setup --verbose --clean --platform android

      # - name: Build generated files
      #   run: dart run build_runner build --delete-conflicting-outputs

      # - name: Generate latest changelog
      #   run: dart run bin/latest_changelog.dart

      # ---- BUILD APK ----
      - name: Build APK
        run: flutter build apk --release --build-number ${{ github.run_attempt }}

      # ---- BUILD AAB ----
      - name: Build App Bundle
        run: flutter build appbundle --release --build-number ${{ github.run_attempt }}

      # ---- UPLOAD TO GITHUB RELEASE ----
      - name: Upload release assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            build/app/outputs/flutter-apk/app-release.apk
            build/app/outputs/bundle/release/app-release.aab
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: List outputs
        run: |
          echo "APK:"
          ls -R build/app/outputs/flutter-apk
          echo "AAB:"
          ls -R build/app/outputs/bundle/release
